<% if user_signed_in? %>
  <div class="jumbotron text-center">
    <h1>Thanks for joining Startup.Push!</h1>
    <h3>A membership site where Startups can find Developers.</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center teal-text">Your Profile</h2>
        <% if current_user.profile %>
          <%= link_to "Edit Your Profile", edit_user_profile_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
          <%= link_to "View Your Profile", user_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
        <% else %>
          <h4 class="gray-text">Create your profile so that you can share your information with the community.</h4>
          <%= link_to "Create Your Profile", new_user_profile_path(current_user), class: 'btn btn-info btn-lg btn-block'%>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center teal-text">The Community</h2>
        <h4 class="gray-text">Visit the community to meet other developers, entrepreneurs, and investors.</h4>
        <% if current_user.profile %>
          <%= link_to "Visit the Community", users_path, class: 'btn btn-info btn-lg btn-block' %>
        <% else %>
          <%= link_to "Visit the Community", users_path, class: 'btn btn-default btn-lg btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="jumbotron text-center">
    <h1>Welcome to Startup.Push</h1>
    <h3>A membership site where Startups can find Developers.</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center teal-text">Basic Membership</h2>
        <h4 class="gray-text">Sign up for free and get basic access to the community.</h4>
        <br/>
        <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center teal-text">Pro Membership</h2>
        <h4 class="gray-text">Sign up for the Pro account for $10/month and get full access to the community with all contact information!</h4>
        <%= link_to "Sign up with Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-info btn-lg btn-block' %>
      </div>
    </div>
  </div>
<% end %>